Package: com.yourcompany.massaudio
Name: MassAudio
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: walen
Author: walen
Section: Tweaks
